*{
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}

body{
    background-color: #333;
    color: white;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

body::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 7px;
}

#users{
    margin: 1.875rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin: 0.625rem;
    width: 15.625rem;
    height: 15.625rem;
    background-color: white;
    color: #777;
    border-radius: 0.625rem;
    box-shadow: 0rem 0rem 0.9375rem 0.125rem rgba(0,0,0,0.75);
    overflow: hidden;
}

.card-header{
    background-image:url(https://images.pexels.com/photos/268976/pexels-photo-268976.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 6.25rem;
    color:white;
    position: relative;
}

.card-header small{
    position: absolute;
    top: 0.3125rem;
    right: 1.25rem;
}

.card-header img{
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    position: absolute;
    left: 4.0625rem;
    top: 2.5rem;
    border: 0.1875rem solid white;
    object-fit: cover;
}

.card-body{
    position: relative;
    top: 5rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:2.5rem;
}

.filter-buttons{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1.875rem 1.875rem;
    grid-gap: 0.3125rem;
}

.filter-buttons button:nth-child(3){
    grid-column: 1/3;
}

.add {
    padding: 1.25rem;
    margin-top: 0.625rem;
    background-color: orangered;
    border-radius: 1.25rem;
    box-shadow: 0rem 0rem 0.9375rem 0.125rem rgba(0,0,0,0.75);
}


.add div{
    margin:0.625rem 0rem;
}

.add input{
    width: 100%;
    display:block;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    border: none;
    font-size: large;
    font-weight: 700;
    margin:0.1875rem;
    box-shadow: inset 0rem 0rem 0.75rem -0.25rem rgba(0,0,0,0.75);
    color: orangered;
}

.add input:focus {
    outline: 0.1875rem solid orange;
}

.button{
    padding: 0.625rem;
    border: none;
    border-radius: 0.9375rem;
    background-color: white;
    color:orangered;
    font-weight: 700;
    cursor:pointer;
}

.button:hover{
    background-color: #999;
}
